h1{
    text-align: center;
}

.chat-window{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
    border: 2px solid black;
    width: 50vw;
    height: 40vh;

    margin: auto;
    overflow-y: scroll;
}

.chat-window .chat-window-inner{
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    width: 100%;
}

.chat-window .user-typing{
    border: 2px solid green;
    width: 100%;
}

.chat-window .chat-window-inner .message{
    color: white;
    width: fit-content;
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 10px;
}

.chat-window .chat-window-inner .sender{
    align-self: flex-end;
    background-color: blue;
}

.chat-window .chat-window-inner .receiver{
    background-color: gray;
}

.input-wrapper{
    display: grid;
    grid-template-columns: 80% auto;

    /* border: 2px solid green; */
    text-align: center;
    width: 50vw;
    margin: auto;
}

.input-wrapper input{
    font-size: 25px;
}